{% extends "base.html" %}

{% load i18n %}
  
{% block title %}Server Error{% endblock %}
 
{% block content %}
<h2>Server Error</h2>
<p>An unexpected error has occurred on the server. We have been notified and will work on fixing this issue.</p>
<p>Please return to your survey. We apologize for any inconvenience.</p>
<p>If you have any concerns, or are unable to complete the survey, please contact us at <a href='mailto:rhodges@ecotrust.org'>rhodges@ecotrust.org</a>.</p>
<a href="/group_status#main_menu">Return to Interview Menu</a>
{% endblock %}
