{% extends "base.html" %}

{% block header %}{% if not action %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
{% if instructions %}
<div style='width:600px'>{{ instructions.main|safe }}</div>
{% endif %}
<div style='width:600px'>
<h4>Note to interviewer:</h4>
<p>Please be <u>extra clear</u> about the distinction between <b>'diving'</b> for dive activities and <b>'shore picking'</b> for others. We do not want answers to be about combined methods for the same species.</p>
</div>
   <form class="gwst-form" method="post" action="{% if action %}{{ action }}{% else %}.{% endif %}">
   {% for verbose_name, form in forms.items %}
   {{ form.non_field_errors }}
   
    {% for field in form %}
        {% if field.field.question_set %}
            {% with field.field.question_set as index %}
                <p><div class="question_set"></div>
                <h3>{{ verbose_name }}</h3>
                {% for key, val in instructions.items %}
                    {% ifequal key index %}
                        {{ val|safe }}
                    {% endifequal %}
                {% endfor %}
                </p>
            {% endwith %}
        {% endif %}
        <p><div class="fieldWrapper">
            {{ field.errors }}
            {% ifequal field.field.question.layout 'vertical' %}
                <table>
                    <tr>
                        <td>
                            {{ field.label|safe }}:
                        </td>
                    </tr><tr>
                        <td>
                            {{ field }}
                        </td>
                    </tr>
                </table>
            {% else %}

                <table>
                    <tr>
                        <td style='width:{{ q_width }}px'>
                            {{ field.label|safe }}:
                        </td>
                        <td>
                            {{ field }}
                        </td>
                    </tr>
                </table>
            {% endifequal %}
        </div></p>
    {% endfor %}   
    
   {% endfor %}
   
   <p><input id="submit" type="submit" value="{{ value }}" />
   {% if action %}<button type="button" class="gwst_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
   </p>
   </form>
{% endblock %}
