<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>{% block title %}{% if title %}{{ title }}{% else %}Web Survey Tool{% endif %}{% endblock %}</title>
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    <meta name="robots" content="index, follow" /> 
    <link rel="shortcut icon" href="/media/images/favicon.ico" />
    {% block styles %}
    <link href="/site-media/css/base.css" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}
    {% block js %}
    {% endblock %}
  </head>
  
  <body {% block body_attribs %}{% endblock %}>
  <div id="wrap">
  {% block header %}
  <div id="header">
    <a href='/'><img alt="Logo" src="http://www.ecotrust.org/images/ecotrust_logo08.gif"/></a>
    {% if user.is_authenticated %}
    <div id='menu'>
      Welcome <b>{{ user.first_name }}.</b>
      <div id='user-tools'>      
      {% if user.is_staff %}
        <a href="/admin/">Site Admin</a> |
        <a href="/modelviz/">Site Database Diagram</a> |
        <a href="/databrowse/">Databrowse</a> |
      {% endif %}    
      <a href="/accounts/logout/">Logout</a>
    </div>
    {% endif %}
    </div>
  </div>
  {% endblock %}
  <div id="main">  
	<div id="content">
	  {% if interview.name %}
	  <h1>{{ interview.name }}</h1>
	  {% endif %}
	  {% block content %}
	  {% endblock %}
	</div>
  </div>
</body>
</html>
