{% extends "base.html" %}

{% block header %}{% if not action %}{{ block.super }}{% endif %}{% endblock %}

{% block js %}
    function skip_group_verify(link) {
        var agree=confirm("Are you sure you want to skip this group?");
        if (agree) {
            location.href=link;
        }
        else {
            location.href="/group_qs/{{form.group_id}}/answer";
        }
    };
    
    function sum_all(form) {
        this.sum = 0;
        for(this.i = 72; this.i < 89; this.i++){
            this.sum += parseFloat(form['question_'+this.i].value);
        }
        alert('Total: $ '+this.sum.toFixed(2));
    };

{% endblock %}

{% block content %}
{% if instructions %}
<div style='width:600px'>{{ instructions.main|safe }}</div>
{% endif %}
    <form class="gwst-form" method="post" action="{% if action %}{{ action }}{% else %}.{% endif %}">
    {{ form.non_field_errors }}
    
    <p>This section is optional. If you wish, you may <a onclick="skip_group_verify('/skip_group/{{form.group_id}}/')">skip this section</a>.</p>   
    
    {% for question in form %}
        {% if forloop.counter < 3 %}
            <p><div class="fieldWrapper">
                {{ question.errors }}
                <table>
                    <tr>
                        <td style='width:400px'>
                            {{ question.label|safe }} : 
                        </td>
                        <td style='vertical-align: bottom'>
                            {{ question }}
                        </td>
                    </tr>
                </table>
            </div></p>
        {% else %}    
            {% ifequal forloop.counter 3 %}   
                <br>
                <p>
                    We recognize that this next question may require some additional time and thought -- please do the best you can. <br />
                    The values you supply do not have to be exact -- general values based on your best estimate are fine.
                </p>
                <p>
                    Please enter the <u>dollar value</u> of your <b>expenditures <u>last year</u> for sport diving (consumptive), spear fishing, or <br />
                    shore picking</b> spent on each of the following categories - note that the sum should be near your estimated<br />
                    total expenditures.
                <p>
                {% for question in form %}  <!-- inner loop to stack errors from % questions in one place -->
                    {% if forloop.counter > 2 %}
                        {% if forloop.counter < 20 %}
                            {{ question.errors }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <table border="0">
                <tr>
                    <td style="padding-right: 0px;">
                        <table style="margin-left: 60px" border="1">
            {% endifequal %}
            {% if forloop.counter < 20 %}
                <tr>
                    <td>{{ question.label|safe }}</td>
                    <td style='width: 115px'> $ {{ question }}</td>
                </tr>
            {% endif %}
            {% ifequal forloop.counter 20 %}
                </table>
                </td>
                </tr>
                <tr><td><button type="button" onclick='sum_all(document.forms[0])' style="float: right">Sum Total</button></td></tr>
                </table>
                <p><div class="fieldWrapper">
                    {{ question.errors }}
                    <table>
                        <tr>
                            <td style='width:400px'>
                                {{ question.label|safe }}: 
                            </td>
                            <td style='vertical-align: bottom'>
                                {{ question }}
                            </td>
                        </tr>
                    </table>
                </div></p>
            {% endifequal %}
        {% endif %}
    {% endfor %}   
    <p><input id="submit" type="submit" value="{{ value }}" style="margin: 20px"/>
    {% if action %}<button type="button" class="gwst_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
    </p>
    </form>
{% endblock %}
