{% extends "base.html" %}

{% block content %}

<h2>Map Tool Overview</h2>

<p>You are about to beging the 'map tool' portion of the survey.  Before you begin, please take a moment to read over the following information.  It will help prepare you to use a tool that may seem a little complex without it.<br />

<ul>
    <li>You will focus on only one {{interview.resource_name}} at a time, and only for one of the means by which you {{interview.resource_action}} it (i.e. only the salmon you fish via kayak).</li>
    <li>You will be presented with a map on which to find your {{interview.shape_name_plural}}.</li>
    <ul>
        <li>This survey is <u>only</u> interested in your {{interview.shape_name_plural}} along the <u>Oregon Coast</u>.</li>
        <li>You will be able 'pan' across and 'zoom' in on the map to get a clearer view of your {{interview.shape_name_plural}}.</li>
        <img src="/site-media/images/nav_2.png" style="margin-left: 100px">
        <p style="margin-left: 100px">Maybe two pictures, one zoomed out, one in?</p>
    </ul>
    <li>You will then use the tool to draw your {{interview.shape_name_plural}} on the map.</li>
    <ul>
        <li>These grounds are the ones you deem important over your cumulative years of experience.</li>
        <img src="/site-media/images/penny_overview.png" style="margin-left: 100px">
        <p style="margin-left: 100px">Some fishing grounds close together - illustrates accuracy, no penny values</p>
    </ul>
    <li>You will then assign relative value to each {{interview.shape_name}} in the form of 'pennies'.</li>
    <ul>
        <li>You will distribute 100 pennies across your {{interview.shape_name_plural}} for each {{interview.resource_name}}.</li>
        <li>The more pennies you allocate to a {{interview.shape_name}}, the more important it is to you.</li>
        <li>In the image below, the {{interview.shape_name}} with 50 pennies is more important to that person than either of the other two.</li>
        <img src="/site-media/images/penny_overview.png" style="margin-left: 100px">
        <p style="margin-left: 100px">This picture is pretty much what I have in mind anyway.</p>
        <li>Note that the pennies of the shapes all add up to 100.</li>
    </ul>
</ul>

<p>Additional help can be found in our <a href='/faq' target='_blank'>frequently asked questions</a> page. Please do not hesitate to email <a href="mailto:fish@ecotrust.org">fish@ecotrust.org</a> if you need more help.</p>

   <form style='width: 600px' class="gwst-form" method="post" action="">
   <p><input id="submit" type="submit" value="Continue" />
   </form>

{% endblock %}