{% extends "base.html" %}

{% block content %}

<h2>Map Tool Overview</h2>

    <table border="0" padding="5px">
        <col width="160px" />
        <col width="600px" align="left" />
        <tr>
            <td colspan="2"><p>Please take a moment to read over the following information before you begin the mapping portion of this survey. 
            This survey is to map your {{interview.shape_name_plural}} along the <u>Oregon Coast only</u>. 
            You will create a map for only one {{interview.resource_name}} at a time for each of your user groups 
                (i.e. a map for salmon via kayak and a separate map for salmon via private vessel).</p></td>
        </tr><tr>
            <td colspan="2"><b>To begin you will be presented with a map of the Oregon Coast.</b></td>
        </tr><tr>
            <td><img src="/site-media/images/overview_page_1.png" align="right"></td>
            <td><ul>
                <li>Use the map to focus in on your {{interview.shape_name_plural}}</li>
                <li>You will be able to 'move around' or 'pan' across the map</li>
                <li>You can 'zoom' in to your {{interview.shape_name_plural}}</li>
            </ul></td>
        </tr><tr>
            <td colspan="2"><b>Once you zoom into your area you will then use the tool to draw your {{interview.shape_name_plural}} on the map.</b></td>
        </tr><tr>
            <td><img src="/site-media/images/overview_page_2.png" align="right"></td>
            <td><ul>
                <li>Draw only the {{interview.shape_name_plural}} you deem important</li>
                <li>Draw {{interview.shape_name_plural}} from your cumulative years of experience</li>
            </ul></td>
        </tr><tr>
            <td colspan="2"><b>Afterwards you will assign value to each {{interview.shape_name}} in the form of 'pennies'.</b></td>
        </tr><tr>
            <td><img src="/site-media/images/overview_page_3.png" align="right"></td>
            <td><ul>
                <li>Distribute 100 pennies across your {{interview.shape_name_plural}}</li>
                <li>Assigning pennies to each {{interview.shape_name}} you draw</li>
                <li>Allocate more pennies to the {{interview.shape_name_plural}} that are more important to you</li>
                <li>EXAMPLE: The {{interview.shape_name}} with 50 pennies is more important than either of the other two</li>
                <li>Note that the pennies of the {{interview.shape_name_plural}} add up to 100</li>
            </ul></td>
        </tr>
    </table>
<br />
<p>If you require any additional help or clarifications, please refer to our <a href='/faq' target='_blank'>frequently asked questions</a> page.  Also, please do not hesitate to email <a href="mailto:fish@ecotrust.org">fish@ecotrust.org</a> if you need more help.</p>

   <form style='width: 600px' class="gwst-form" method="post" action="">
   <p><input id="submit" type="submit" value="Continue" />
   </form>

{% endblock %}