{% extends "base.html" %}

{% block content %}

<h2>Map Tool Overview</h2>

<p><b>Please take a moment to read over the following information before you begin the mapping portion of this survey.</b></p><br />

<ul>
    <li>This survey is to map your {{interview.shape_name_plural}} along the <u>Oregon Coast</u>.</li>
    <li>You will create a map for only one {{interview.resource_name}} at a time for each of your user groups (i.e. a map for salmon via kayak and a separate map for salmon via private vessel).</li>
    <br />
    <li>To begin you will be presented with a map of the Oregon Coast.</li>
    <li>With this map, you will be able to 'move around' and 'zoom' into the areas where you'd like to draw your {{interview.shape_name_plural}}.</li>
    <img src="/site-media/images/nav_2.png" style="margin-left: 100px">
        <p style="margin-left: 100px">Maybe two pictures, one zoomed out, one in?</p>
    <br />
    <li>Once you zoom into your area you will then use the tool to draw your {{interview.shape_name_plural}} on the map.</li>
    <ul>
        <li>These {{interview.shape_name_plural}} are the ones you deem important over your cumulative years of experience.</li>
        <img src="/site-media/images/penny_overview.png" style="margin-left: 100px">
        <p style="margin-left: 100px">Some fishing grounds close together - illustrates accuracy, no penny values</p>
    </ul>
    <br />
    <li>You will then assign value to each {{interview.shape_name}} in the form of 'pennies'.</li>
    <ul>
        <li>You will distribute 100 pennies across your {{interview.shape_name_plural}} by assigning pennies to each area you draw.</li>
        <li>The more pennies you allocate to a {{interview.shape_name}}, the more important it is to you.</li>
        <li>In the image below, the {{interview.shape_name}} with 50 pennies is more important to that person than either of the other two.</li>
        <img src="/site-media/images/penny_overview.png" style="margin-left: 100px">
        <p style="margin-left: 100px">This picture is pretty much what I have in mind anyway.</p>
        <li>Note that the pennies of the shapes all add up to 100.</li>
    </ul>
    <br />
    <li>You will follow this procedure to create a map for each {{interview.resource_name}} you fish for each user group (i.e. kayak, dive, or private vessel)</li>
</ul>
<br />
<p>If you require any additional help or clarifications, please refer to our <a href='/faq' target='_blank'>frequently asked questions</a> page.  Also, please do not hesitate to email <a href="mailto:fish@ecotrust.org">fish@ecotrust.org</a> if you need more help.</p>

   <form style='width: 600px' class="gwst-form" method="post" action="">
   <p><input id="submit" type="submit" value="Continue" />
   </form>

{% endblock %}