<style>
	a {
		text-decoration:none;
	}
	a:hover div{
		background-color:#C5D5E4;
	}
    p {
        margin-top:5px;
        margin-bottom:10px;
    }
	#help li {
		margin-bottom:15px;
	}
</style>

<ul id="help">
<li><h4>Drawing your shapes</h4>
<p>Right click on a resource group in the "My Shapes" window, then select "Add new shape" from its menu to draw a new shape for that resource group.</p>
<p>In draw mode, left-click to define points for your shape. Double-click to place the last point and finish the new shape.</p></li>

<li><h4>Assigning pennies to your shapes</h4>
<p>Once you have drawn one or more shapes, double-click them (either on the map or in the "My Shapes" window) to open their attribute form.</p>
<p>Enter a penny value between 1 and 100 for the shape, as well as any notes you wish to send us about more specific boundaries for your shape, then click the "Save" button.</p></li>

<li><h4>Using the map</h4>
<p>You can move the map by clicking-and-dragging it, or by clicking the blue arrows in the upper right.</p>
<p>Zoom using your mouse wheel, or the blue plus and minus buttons in the upper right, or clicking on the segmented vertical line in the upper right.</p></li>

<li><h4>Displaying nautical charts, depth contours, satellite imagery, lat/lon lines</h4>
<p>Click the checkbox to the left of any map name in the "Maps" window to display it.</p>
<p>If you display multiple maps and want them ordered differently on the screen, you can click and drag a map name to a different position in the "Maps" window to rearrange it.</p></li>

<li><p>Please do not hesitate to email <a href="mailto:fish@ecotrust.org">fish@ecotrust.org</a> if you need more help.</p></li></ul>

</div>

