<!--<style>
	#help_panel a:link, a:visited {
		text-decoration:none;
        color: #5b80b2;
	}
    #help_panel a:hover {
		text-decoration:none;
        color: #036;
	}
    #help_panel ul {
        list-style-position:inside;
        margin-top:10px;
        margin-bottom:15px;
    }
	#help_panel li {
		margin-top:5px;
        margin-bottom:5px;
        list-style-type: circle;
        font-size: 13px;
	}
    #help_panel p {
        margin-top:5px;
        margin-bottom:10px;
    } 
    #help_panel {
        font-size: 13px;
    }
</style>
-->

<div id="help_panel">

<ul><b>Using The Map</b> <!--<a href="/video/using_the_map" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height=16 width=16 src='/site-media/images/video-32.png'/> View Demonstration Video</a>-->
<li>Move around on the map by clicking-and-dragging it, or by clicking any of the blue directional arrows in the upper right.</li>
<li>Zoom in and out using your mouse wheel, or by clicking the blue plus and minus buttons in the upper right, or by clicking on the segmented vertical line in the upper right.</li>
<li>Turn on and off additional map layers including nautical charts, satellite imagery and others by clicking any of the checkboxes in the 'Map' window in the top left.</li></ul>

<ul><b>Drawing Your Shapes</b> <!--<a href="/video/drawing_shapes" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height=16 width=16 src='/site-media/images/video-32.png'/> View Demonstration Video</a>-->
<li>Right click on a fishery in the "My Shapes" window to display its menu.</li>
<li>Select "Add new shape" from the menu to draw a new shape for that fishery.</li>
<li>In draw mode, repeatedly left-click to define points for your shape. Double-click to place the last point and finish the shape.</li></ul>

<ul><b>Assigning Pennies</b> <!--<a href="/video/adding_pennies" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height=16 width=16 src='/site-media/images/video-32.png'/> View Demonstration Video</a>-->
<li>Once you have drawn a shape, double-click it (either on the map or in the "My Shapes" window) to open its attribute form.</li>
<li>Enter a penny value between 1 and 100 for the shape, as well as any notes you wish to send us about more specific boundaries for your shape, then click the "Save" button.</li></ul>

<ul><b>Copying Shapes</b> <!--<a href="/video/copying_shapes" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height=16 width=16 src='/site-media/images/video-32.png'/> View Demonstration Video</a>-->
<li>In the "My Shapes" window, right-click on a fishery name or individual shape name to open its menu.</li>
<li>Select "Copy". A dialog box will appear indicating the shape(s) have been copied.</li>
<li>Right-click on the target fishery where you'd like the shapes pasted, and select "Paste copied shapes here" from its menu. Your shape(s) should now be present in the target fishery.</li>
</ul>

<p>Please do not hesitate to email <a href="mailto:rhodges@ecotrust.org">rhodges@ecotrust.org</a> if you need help.</p>

<button type='button' onclick='gwst.app.splashTabs.activate(gwst.app.splashScreenText)'>Go Back To Overview</button>
<br/>
<button type='button' onclick='gwst.app.splashTabs.activate(gwst.app.helpWindow.hide())'>Get Started</button> 

</div>

