<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
        <!-- Ext button are too wide when forcing IE7 as it thinks its IE8 -->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{title}}</title>
	
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}third-party/extjs2/resources/css/ext-all.css" charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}third-party/ext-ux/multiselect/multiselect.css" charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}third-party/ext-ux/grid/rowactions.css" charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/res_draw.css" charset="utf-8"/>

	<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/adapter/ext/ext-base.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/ext-all.js" charset="utf-8"></script>
	<!--<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/ext-all-debug.js" charset="utf-8"></script>-->

	<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{GMAPS_API_KEY}}' type="text/javascript" ></script>
	<script src="{{MEDIA_URL}}third-party/OpenLayers-2.8/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
    
	{% comment %}
    {% load compressed %}
    {% compressed_js 'gwst_or_rec' %}
	{% endcomment %}
	
	<script src='{{MEDIA_URL}}compressed/gwst_or_rec.js' type="text/javascript" ></script>

	<script type="text/javascript" charset="utf-8">
        // Hack to support IE. See http://trac.openlayers.org/wiki/FrequentlyAskedQuestions#WhywontmyvectorlayerworkinIEbeforemypageisdoneloading
	    document.namespaces;
		// reference local blank image
		Ext.BLANK_IMAGE_URL = '/site-media/third-party/extjs2/resources/images/default/s.gif';	    
        Ext.onReady(function() {
            gwst.settings.survey_group_id = {{group_id}};
            gwst.settings.survey_group_name = '{{group_name}}';
			app = new gwst.ResDrawApp();            
			app.init();
		});
	</script>	  
</head>
<body>
    <noscript>We're sorry, in order to run this application you must have Javascript enabled.
	Search the internet to learn how to enable this feature for your browser.
	If your web browser doesn't support Javascript you will need to install one that does.
	</noscript>
</body>
</html>
