{% extends "base.html" %}

{% block content %}
<h3>{{interview.name}} Interview Status</h3>
<ul>
{% for object in object_list %}
<li>
{{ object.int_group.name }} ({{object.status}}): {% ifequal object.status "finalized" %}
<a href="/group_qs/{{object.int_group.id}}/view/">View answers</a>
{% else %}
<a href="/group_qs/{{object.int_group.id}}/answer/">Answer questions</a> 
{% ifequal object.status "in-progress" %}|
{% if object.int_group.user_draws_shapes %}<a href="/draw_group_shapes/{{object.int_group.id}}/">Draw shapes</a> |
{% endif %}
<a href="/finalize_group/{{object.int_group.id}}/">Finalize this group</a> {% endifequal %}
{% endifequal %}
</li>
{% endfor %}
</ul>

{% if allow_finalize %}
<a href="/finalize_interview/{{interview.id}}/">Finalize this interview</a>
{% endif %}

{% endblock %}
