<div id="gwst-ui-preload">
    <img width="41" height="41" src="{{MEDIA_URL}}images/gwst-ui/close.png" />
    <img class="throbber" src="{{MEDIA_URL}}images/gwst-ui/ajax-loader.gif" width="220" height="19" />
    <img src="{{MEDIA_URL}}images/gwst-ui/wait_bg.png" />
    <img src="{{MEDIA_URL}}images/gwst-ui/wait_bg.png" />
    <img src="{{MEDIA_URL}}images/modetoolbarbg.gif" />
    <img src="{{MEDIA_URL}}images/gwst-ui/modal_bg.png" />
</div>
<div id="gwst-mask" style="display:none;">
    <div id="gwst-mask-actual"></div>
    <!-- Place all modal windows that need to be nearly-fullscreen or somewhat smaller here -->
    <div id="ie-bugfix"></div>
    <div id="gwst-large-modals" style="display:none;">
        <div id="gwst-htmlmodalbuttons" style="display:none;"><a style="display:none;" id="gwst-htmlmodal-close" href="#" alt="close" title="close window (press Esc or x)"><img width="41" height="41" src="{{MEDIA_URL}}images/gwst-ui/close.png" /></a></div>
        <div id="gwst-htmlmodal" class="gwst-modal-window" style="display:none;"></div>
    </div>
    <!-- Place all small, alert-box style messages here -->
    <div id="gwst-small-modals" class="small-modals" style="display:none;">
        <div id="gwst-error" class="gwst-modal-window" style="display:none;">
            <h3>An Error Occurred</h3>
            <p></p>
            <button name="OK" value="OK">
                OK
            </button>
            <br style="clear:both;" />
        </div>
        <div id="gwst-wait" class="gwst-modal-window" style="display:none;">
            <h3>Please Wait</h3>
            <p></p>
            <img class="throbber" src="{{MEDIA_URL}}images/gwst-ui/ajax-loader.gif" width="220" height="19" />
        </div>        
    </div>
</div>
