{% extends "base.html" %}

{% block content %}

<p>Thank you for completing the interview: {{name}}</p>

<p>The fishing grounds you provided will be edited if necessary, using any bounding information you provided (e.g. north, south, east, and west boundaries). You will then be contacted to review your data and given a chance to offer us additional feedback. The review process will be conducted online if possible. Once you have reviewed and signed-off on the data we will begin the analytical process where all the data are aggregated to create a map of relative importance for each user-group/fishery combination.</p>

<p>When the initial round of analysis is complete we will conduct a second round of reviews by port group. This will provide an opportunity for groups of fishermen to give feedback on the accuracy of the regional data. Again, this will be done in such a way that your individual fishing grounds will not be identifiable. Edit notes from the review meetings will be incorporated and subsequent iterations of the analysis will be completed. The data will then be used in evaluating the stakeholder MPA proposals. We will also conduct additional analyses to evaluate the potential loss of area and value.</p> 

<p>Thank you, again. Your willingness to participate is greatly appreciated! If you have any questions or 
concerns please contact us at <a href='mailto:fish@ecotrust.org'>fish@ecotrust.org</a></p>

{% endblock %}
