{% extends "base.html" %}

{% block content %}

<p>Thank you for completing the interview: {{name}}</p>

<p>The fishing grounds you provided will be edited if necessary, using any bounding information you provided (e.g. north, south, east, and west boundaries).  Our team will then begin the analytical process where all the surveys are aggregated to create maps of important fishing grounds for different user-group/fishery combinations.</p>

<p>When the initial round of analysis is complete we will conduct reviews by port group. This will provide an opportunity for groups of fishermen to give feedback on the accuracy of the regional data. Again, this will be done in such a way that your individual fishing grounds will not be identifiable. Recommendations from the review meetings will be incorporated and subsequent iterations of the analysis will be completed. The maps will then be used in evaluating MPA proposals.  For each proposal, stakeholders will be able to see the potential impacts that mpa would have on a given fishery and or user group.  This is a valuable tool in finding the best areas for protection while trying to minimize the impact on ocean fisheries.</p>

<p>Thank you, again. Your willingness to participate is greatly appreciated! If you have any questions or 
concerns please contact us at <a href='mailto:fish@ecotrust.org'>fish@ecotrust.org</a></p>

{% endblock %}
