{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<h1> Please log in to your survey</h1>
{% if not user.is_authenticated %}
			 {% if form.errors %}
<p class="error">Please correct the errors below:{{ form.non_field_errors }}</p>
{% endif %}

<form method="post" action="?next={{ next|default:"/" }}">
<dl>
<dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd><!--{{ form.username }}--><input id="id_username" type="text" name="username" value="" maxlength="100" /></dd>
<dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
<dt><input type="submit" value="Log in" /> &nbsp;&nbsp;&nbsp;<a href='/accounts/register'>Create a new account</a></dt>
</dl>
</form>
<br/>
<p>
Web browser requirements:<ul><li>Internet Explorer 7+</li><li>FireFox 1.5+</li><li>Safari 3+</li><li>Opera 9+</li><li>Google Chrome 2+</li></ul>
</p>
<p>Minimum screen resolution: 1024 x 768.
</p>
<!--<p>If you don't have an account, you can <a href="/accounts/register/">sign up for one.</a></p>

<p>Forgot your password? You can <a href="/accounts/password/reset/">reset it</a> and receive an email.</p>
-->
{% else %}
<p>You are already logged in | <b>{{user.email|escape}}</b></p>
{% endif %}

{% endblock %}
