<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Oregon Recreational Fishery Survey Tool</title>
<link href="/site-media/css/orsurvey.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<div id="fronttopbox"><img src="/site-media/images/ORsurvey_banner.jpg"/><!--<img src="/site-media/images/ORsurvey_splash.png" width="800" height="578" />--> </div>
<div id="frontleftbox">
    <h2 style="margin-top:10px;">Please sign in to your survey</h2>
    {% if not user.is_authenticated %}
        <form method="post" action="?next={{ next|default:"/" }}">
            {% if form.errors %}
                <p class="error">Please correct the errors below:{{ form.non_field_errors }}</p>
            {% endif %}
            {% csrf_token %}
            <dl>
                <dt>
                    <label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
                </dt>
                <dd>
                    <!--{{ form.username }}--><input id="id_username" type="text" name="username" value="" maxlength="100" />
                </dd>
                <dt>
                    <label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
                </dt>
                <dd>
                    {{ form.password }}
                </dd>
                <dt>
                    <input type="submit" value="Sign in" class="button"/> 
                </dt>
            </dl>
        </form>

        {% if user.SELF_REGISTRATION %}
            <p style='margin-left: 40px; margin-top: 30px'><b><a href='/accounts/register'>Create a new account</a></b></p>
        {% endif %}
    {% else %}
        <p>You are already signed in | <b>{{user.email|escape}}</b></p>
    {% endif %}
</div>
<div id="frontrightbox" style='margin-top: 10px'>
    <p>Oregon is currently amending its Territorial Sea Plan by developing policies and procedures to help guide the location of wave energy generators. One of these policies (Goal 19) states that we must "conserve marine resources and ecological functions for the purpose of providing long-term ecological, economic, and social value and benefits to future generations".</p>
    <p>To do this, Ecotrust has been contracted by the state of Oregon to conduct a comprehensive mapping project that will assess the socioeconomic importance of ocean areas to recreational and commercial fishermen and the larger coastal community. This information will then be used to help inform the location of wave energy facilities so that impacts to existing human uses may be minimized.</p>
    <p style="margin-bottom:0;">If you'd like more information about our project please visit our <a href="http://www.ecotrust.org/tsp/">Oregon TSP page</a> or <a href="http://www.oregon.gov/LCD/tspac.shtml">the DLCD TSP page</a>.</p>
</div>
<br class="clearboth" />
<div id="footer"> Browser requirements: Internet Explorer 7+, FireFox 1.5+, Safari 3+, Opera 9+, Google Chrome 2+. 
  Minimum screen resolution: 1024 x 768. </div>
</body>
</html>

