{% extends "base.html" %}

{% block header %}{% if not action %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
{% if instructions %}
<div style='width:600px'>{{ instructions.main|safe }}</div>
{% endif %}
   <form class="gwst-form" method="post" action="{% if action %}{{ action }}{% else %}.{% endif %}">
   {{ form.non_field_errors }}
   
    {% for field in form %}
        {% if forloop.counter < 12 %}

            <p><div class="fieldWrapper">
                {{ field.errors }}
                {% ifequal field.field.question.layout 'vertical' %}
                    <table>
                        <tr>
                            <td>
                                {{ field.label|safe }}:
                            </td>
                        </tr><tr>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table>
                        <tr>
                            <td style='width:{{ q_width }}px'>
                                {{ field.label|safe }}:
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% endifequal %}
            </div></p>
        {% endif %}    
        
        {% if forloop.counter < 27 %}    
            {% if forloop.counter > 11 %} 
                {% ifequal forloop.counter 12 %}
                    <br />
                    About your vessels:<br /><br />
                    <table class="custom" border="1">
                        <tr align="center">
                            <th>Vessel</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                        </tr>
                        <tr><td><b>Name</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 15 %}
                    </tr><tr><td><b>Federal ID</b><br/>[optional]</td>
                {% endifequal %}
                {% ifequal forloop.counter 18 %}
                    </tr><tr><td><b>State ID</b><br/>[optional]</td>
                {% endifequal %}
                {% ifequal forloop.counter 21 %}
                    </tr><tr><td><b>Length (ft)</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 24 %}
                    </tr><tr><td><b>Motor (HP)</b></td>
                {% endifequal %}
                <td><div class="fieldWrapper">{{ field }}</td>
                {% ifequal forloop.counter 26 %}
                        </tr>
                    </table>
                {% endifequal %}

            {% endif %}    
        {% endif %}

        {% if forloop.counter > 26 %}          
            <p><div class="fieldWrapper">
                {{ field.errors }}
                {% ifequal field.field.question.layout 'vertical' %}
                    <table>
                        <tr>
                            <td>
                                {{ field.label|safe }}:
                            </td>
                        </tr><tr>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table>
                        <tr>
                            <td style='width:{{ q_width }}px'>
                                {{ field.label|safe }}:
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% endifequal %}
            </div></p>
            {% ifequal forloop.counter 64 %}
                </div>
            {% endifequal %}
            {% ifequal forloop.counter 70 %}
                </div>
            {% endifequal %}
        {% endif %}
    {% endfor %}   
   
   <p><input id="submit" type="submit" value="{{ value }}" style="margin:15px"/>
   {% if action %}<button type="button" class="gwst_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
   </p>
   </form>
{% endblock %}
