{% extends "base.html" %}

{% block header %}{% if not action %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
{% if instructions %}
<div style='width:600px'>{{ instructions.main|safe }}</div>
{% endif %}
   <form class="gwst-form" method="post" action="{% if action %}{{ action }}{% else %}.{% endif %}">
   {{ form.non_field_errors }}
   
    {% for field in form %}
    
        {% if forloop.counter < 3 %}

            <p><div class="fieldWrapper">
                {{ field.errors }}
                {% ifequal field.field.question.layout 'vertical' %}
                    <table>
                        <tr>
                            <td>
                                {{ field.label|safe }}:
                            </td>
                        </tr><tr>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table>
                        <tr>
                            <td style='width:{{ q_width }}px'>
                                {{ field.label|safe }}:
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% endifequal %}
            </div></p>
        {% endif %}
        {% if forloop.counter > 2 %}
            {% if forloop.counter < 12 %}
                {% ifequal forloop.counter 3 %}
                    <br />
                    About your vessels:<br /><br />
                    <table class="custom" border="1">
                        <tr align="center">
                            <th>Vessel</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                        </tr>
                        <tr><td><b>Name</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 6 %}
                    </tr><tr><td><b>Length (ft)</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 9 %}
                    </tr><tr><td><b>Passenger Capacity</b></td>
                {% endifequal %}
                <td><div class="fieldWrapper">{{ field }}</td>
                {% ifequal forloop.counter 11 %}
                        </tr>
                    </table>
                {% endifequal %}
            {% endif %}
        {% endif %}
        {% if forloop.counter > 11 %}        
            {% if forloop.counter < 44 %}        
                <p><div class="fieldWrapper">
                    {{ field.errors }}
                    {% ifequal field.field.question.layout 'vertical' %}
                        <table>
                            <tr>
                                <td>
                                    {{ field.label|safe }}:
                                </td>
                            </tr><tr>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table>
                            <tr>
                                <td style='width:{{ q_width }}px'>
                                    {{ field.label|safe }}:
                                </td>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        </table>
                    {% endifequal %}
                </div></p>
            {% endif %}
        {% endif %}
        
        {% if forloop.counter > 43 %}        
            {% if forloop.counter < 50 %}
                {% ifequal forloop.counter 44 %}
                    <p>Are there any fisheries/activities you have added or dropped since 2008? If yes, which fisheries/activities and why.</p>
                    <table border="1">
                    <tr><th></th><th>Name</th><th>add/drop</th><th>Why?</th></tr>
                    <tr><td>1</td>
                {% endifequal %}
                {% ifequal forloop.counter 47 %}
                    </tr><tr><td>2</td>
                {% endifequal %}
                
                <td><div class="fieldWrapper">{{ field }}</td>
                
                {% ifequal forloop.counter 49 %}
                </tr></table>
                {% endifequal %}
                
            {% endif %}
        {% endif %}

        {% if forloop.counter > 49 %}        
            {% ifequal forloop.counter 50 %}
                <div class="well">
                <p><b>Job Satisfaction Questions:</b> Now I want to ask some questions about the level of satisfaction you have with your work. 
                    Using the scale of happy, neutral, and unhappy I want you to indicate the level of satisfaction with the following 
                    aspects of your work.</p>
            {% endifequal %}
            {% ifequal forloop.counter 69 %}
                <div class="well">
                <p><b>Satisfaction with Life Scale:</b> Below are five statements that you may agree or disagree with.</p>
            {% endifequal %}
            <p><div class="fieldWrapper">
                {{ field.errors }}
                {% ifequal field.field.question.layout 'vertical' %}
                    <table>
                        <tr>
                            <td>
                                {{ field.label|safe }}:
                            </td>
                        </tr><tr>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table>
                        <tr>
                            <td style='width:{{ q_width }}px'>
                                {{ field.label|safe }}:
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% endifequal %}
            </div></p>
            {% ifequal forloop.counter 67 %}
                </div>
            {% endifequal %}
            {% ifequal forloop.counter 73 %}
                </div>
            {% endifequal %}
        {% endif %}
        
    {% endfor %}   

   
   <p><input id="submit" type="submit" value="{{ value }}" style="margin:15px"/>
   {% if action %}<button type="button" class="gwst_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
   </p>
                    </form>
{% endblock %}
