{% extends "base.html" %}

{% block header %}{% if not action %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
{% if instructions %}
<div style='width:600px'>{{ instructions.main|safe }}</div>
{% endif %}
   <form class="gwst-form" method="post" action="{% if action %}{{ action }}{% else %}.{% endif %}">
   {{ form.non_field_errors }}
   
    {% for field in form %}
        {% if forloop.counter < 8 %}

            <p><div class="fieldWrapper">
                {{ field.errors }}
                {% ifequal field.field.question.layout 'vertical' %}
                    <table>
                        <tr>
                            <td>
                                {{ field.label|safe }}:
                            </td>
                        </tr><tr>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table>
                        <tr>
                            <td style='width:{{ q_width }}px'>
                                {{ field.label|safe }}:
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% endifequal %}
            </div></p>
        {% endif %}    
        
        {% if forloop.counter < 14 %}
            {% if forloop.counter > 7 %}    
                {% ifequal forloop.counter 8 %}
                    <br />
                    Are there any fisheries you have added or dropped since 2008? If yes, which fisheries and why:<br /><br />
                    <table class="custom" border="1">
                        <tr align="center">
                            <th>Fishery</th>
                            <th>Added or dropped?</th>
                            <th>Why?</th>
                        </tr>
                        <tr>
                {% endifequal %}
                {% ifequal forloop.counter 11 %}
                        </tr><tr>
                {% endifequal %}
                <td><div class="fieldWrapper">{{ field }}</td>
            {% endif %}    
        {% endif %}    
        {% ifequal forloop.counter 14 %}
                </tr>
            </table>
        {% endifequal %}
        
        {% if forloop.counter < 22 %}    
            {% if forloop.counter > 13 %}    
                {% ifequal forloop.counter 14 %}
                    <br />
                    Fishing permits owned that you did not fish last year (2012):<br /><br />
                    <table class="custom" border="1">
                        <tr align="center">
                            <th>Permit</th>
                            <th>Reason it was not fished</th>
                        </tr>
                        <tr>
                {% endifequal %}
                {% ifequal forloop.counter 16 %}
                    </tr><tr>
                {% endifequal %}
                {% ifequal forloop.counter 18 %}
                    </tr><tr>
                {% endifequal %}
                {% ifequal forloop.counter 20 %}
                    </tr><tr>
                {% endifequal %}
                <td><div class="fieldWrapper">{{ field }}</td>
            {% endif %}    
        {% endif %}    
        {% if forloop.counter < 27 %}    
            {% if forloop.counter > 21 %}    
                {% ifequal forloop.counter 22 %}
                        </tr>
                    </table>
                {% endifequal %}
                <p><div class="fieldWrapper">
                    {{ field.errors }}
                    {% ifequal field.field.question.layout 'vertical' %}
                        <table>
                            <tr>
                                <td>
                                    {{ field.label|safe }}:
                                </td>
                            </tr><tr>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table>
                            <tr>
                                <td style='width:{{ q_width }}px'>
                                    {{ field.label|safe }}:
                                </td>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        </table>
                    {% endifequal %}
                </div></p>
            {% endif %}    
        {% endif %}
        {% if forloop.counter < 42 %}    
            {% if forloop.counter > 26 %} 
                {% ifequal forloop.counter 27 %}
                    <br />
                    About your vessels:<br /><br />
                    <table class="custom" border="1">
                        <tr align="center">
                            <th>Vessel</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                        </tr>
                        <tr><td><b>Name</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 30 %}
                    </tr><tr><td><b>Federal Vessel ID</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 33 %}
                    </tr><tr><td><b>State ID</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 36 %}
                    </tr><tr><td><b>Length (ft)</b></td>
                {% endifequal %}
                {% ifequal forloop.counter 39 %}
                    </tr><tr><td><b>Motor (HP)</b></td>
                {% endifequal %}
                <td><div class="fieldWrapper">{{ field }}</td>
                {% ifequal forloop.counter 41 %}
                        </tr>
                    </table>
                {% endifequal %}

            {% endif %}    
        {% endif %}
        
        
        
        
        
        
        {% if forloop.counter > 41 %}          
            {% ifequal forloop.counter 47 %}
                <div class="well">
                <br />
                <b>Job Satisfaction Questions:</b> Now I want to ask some questions about the level of satisfaction 
                you have with your work. Using the scale of happy, neutral, and unhappy I want you to indicate the 
                level of satisfaction with the following aspects of your work.<br /><br />
            {% endifequal %}
            {% ifequal forloop.counter 66 %}
                <div class="well">
                <br />
                <b>Satisfaction with Life Scale:</b> Below are five statements that you may agree or disagree with. 
                Using the scale of strongly agree to strongly disagree, please tell me your agreement with each.<br /><br />
            {% endifequal %}
            <p><div class="fieldWrapper">
                {{ field.errors }}
                {% ifequal field.field.question.layout 'vertical' %}
                    <table>
                        <tr>
                            <td>
                                {{ field.label|safe }}:
                            </td>
                        </tr><tr>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table>
                        <tr>
                            <td style='width:{{ q_width }}px'>
                                {{ field.label|safe }}:
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    </table>
                {% endifequal %}
            </div></p>
            {% ifequal forloop.counter 64 %}
                </div>
            {% endifequal %}
            {% ifequal forloop.counter 70 %}
                </div>
            {% endifequal %}
        {% endif %}
    {% endfor %}   
   
   <p><input id="submit" type="submit" value="{{ value }}" style="margin:15px"/>
   {% if action %}<button type="button" class="gwst_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
   </p>
   </form>
{% endblock %}
