{% extends "base.html" %}

{% block styles %}
    <link href="/site-media/css/base.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/site-media/css/res_sel.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{{ group.name }} Group {{interview.resource_name|capfirst}} Selection{% endblock %}

{% block header %}{% if not action %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<h2>{{ group.name }} Group {{interview.resource_name|capfirst}} Selection</h2>
<p style='width: 600px'>{{group.select_resource_text|safe}}</p>

   <form style='width: 600px' class="gwst-form" method="post" action="{% if action %}{{ action }}{% else %}.{% endif %}">
   {{ form.non_field_errors }}
   
    {% for field in form %}
        {% if field.field.question_set %}
        {% with field.field.question_set as index %}
        <p><div class="question_set"></div>
        {% for key, val in instructions.items %}
        {% ifequal key index %}
            {{ val }}
        {% endifequal %}
        {% endfor %}
        </p>
        {% endwith %}
        {% endif %}
        {% ifequal forloop.counter 2 %}
        <table><tr><td>
        {% endifequal %}
        {% ifequal forloop.counter 3 %}
        </td><td>
        {% endifequal %}
        {% ifequal forloop.counter 4 %}
        </td></tr><tr><td>
        {% endifequal %}
        {% ifequal forloop.counter 5 %}
        </td><td>
        {% endifequal %}
        <p><div class="fieldWrapper">
            {{ field.errors }}
            <table>
                <tr>
                    <td style='width:{{ q_width }}px'>
                        {{field.label_tag}}:
                    </td>
                    <td>
                        {% ifequal forloop.counter 1%}
                            <!-- 
                                Following code modified from solution found at:
                                http://ilian.i-n-i.org/django-forms-choicefield-and-custom-html-output/
                            -->
                            <ul>
                            {% for choice in resource_choices %}
                              <li>
                                <input type="checkbox" name="resources" value="{{choice.0}}"
                                  {% if choice.0 in form.data.resources %}
                                     checked="checked"
                                  {% endif %}/>
                                <label for="">{{choice.1|safe}}</label>
                              </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            {{field}}
                        {% endifequal %}
                    </td>
                </tr>
            </table>
        </div></p>
        {% ifequal forloop.counter 5 %}
        </td></tr></table>
        {% endifequal %}        
    {% endfor %}
   
   <p><input id="submit" type="submit" value="{{ value }}" />
   {% if action %}<button type="button" class="gwst_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
   </p>
   </form>
{% endblock %}
