{% extends "base.html" %}

{% block styles %}
    <link href="/site-media/css/base.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/site-media/css/res_sel.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{{ group.name }} Group {{interview.resource_name|capfirst}} Selection{% endblock %}

{% block header %}{% if not action %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<h2>{{ group.name }} Group {{interview.resource_name|capfirst}} Selection</h2>
<p style='width: 600px'>Please select <b><u>all</u></b> of the {{interview.resource_name_plural}} you {{interview.resource_action}} <u><b>for the {{group.description}} only</b></u> in the last year (2010):</p>
<p style='width: 600px'>{{group.select_resource_text|safe}}</p>

   <form style='width: 600px' class="gwst-form" method="post" action="{% if action %}{{ action }}{% else %}.{% endif %}">
   {{ form.non_field_errors }}
   
    {% for field in form %}
        {% if field.field.question_set %}
        {% with field.field.question_set as index %}
        <p><div class="question_set"></div>
        {% for key, val in instructions.items %}
        {% ifequal key index %}
            {{ val }}
        {% endifequal %}
        {% endfor %}
        </p>
        {% endwith %}
        {% endif %}
        <p><div class="fieldWrapper">
            {{ field.errors }}
            <table>
                <tr>
                    <td style='width:{{ q_width }}px'>
                        {{ field.label_tag }}:
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            </table>
        </div></p>
    {% endfor %}
   
   <p><input id="submit" type="submit" value="{{ value }}" />
   {% if action %}<button type="button" class="gwst_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
   </p>
   </form>
{% endblock %}
