{% extends "base.html" %}

{% block content %}
<h3>Your Answers</h3>
{% for question in questions %}
    {% for answer in answers %}
        {% ifequal question answer.int_question %}
            {% ifnotequal question.answer_type 'checkbox' %}
                <table>
                    <tr>
                        <td style='width:{{ q_width }}px; padding-right:20px'>
                            {{ question.eng_text|safe }}:
                        </td>
                        <td style='width:150px; vertical-align:bottom' >
                            {{ answer.text_val }}
                        </td>
                    </tr>
                </table>
            {% else %}
                {% if answer.boolean_val %}
                    <table>
                        <tr>
                            <td style='width:{{ q_width }}px; padding-right:20px'>
                                {{ question.eng_text }}:
                            </td>
                            <td style='width:150px; vertical-align:bottom' >
                                {{ answer.text_val }}
                            </td>
                        </tr>
                    </table>
                {% endif %}
            {% endifnotequal %}
        {% endifequal %}
    {% endfor %}
{% endfor %}
<p><a href="/group_status#main_menu">Return to Interview Menu</a></p>
{% endblock %}