/*
    DJANGO Admin styles
*/

body {
    margin: 0;
    padding: 0;
    font-size: 76%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
    color: #39F;
    text-decoration: none;
}

a:hover , a:active{
    color: #000;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 2.0em .8em;
}

p {
    font-size: 1em; 
    line-height: 1.4em; 
    margin: 0 0 1.2em 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal; 
    margin:0; 
    color:#666;
}

h1 {
    font-size: 1.8em; 
    margin:0 0 .2em 0;
}

h2 {
    font-size: 1.6em; 
    margin: 1.0em 0 .2em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 1.4em; 
    margin: 1.0em 0 .2em 0;
}

h4 {
    font-size: 1.2em; 
    margin: 1.0em 0 .2em 0;
}

h5 {
    font-size: 1.0em;
}

h6 {
    font-size: 0.8em;
}

ul li {
    list-style-type: square;
    padding: 1px 0;
}

ul.plainlist {
    margin-left: 0 !important;
}

ul.plainlist li {
    list-style-type: none;
}

li ul {
    margin-bottom: 0;
}

li, dt, dd {
    font-size: 11px;
    line-height: 14px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
    color: #666;
    font-size: 11px;
}

/* TEXT STYLES & MODIFIERS */

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
    font-size: 9px;
}

p.mini {
    margin-top: -3px;
}

.help, p.help {
    font-size: 10px !important;
    color: #999;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999 !important;
    font-weight: normal !important;
}

.quiet strong {
    font-weight: bold !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
}

.nowrap {
    white-space: nowrap;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 11px;
    line-height: 13px;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

.fieldWrapper td{
    border-bottom: 0px;
}

thead th,
tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

/* SORTABLE TABLES */

thead th a:link, thead th a:visited {
    color: #666;
    display: block;
}

table thead th.sorted {
    background-position: bottom left !important;
}

table thead th.sorted a {
    padding-right: 13px;
}

table thead th.ascending a {
    background: url(../img/admin/arrow-down.gif) right .4em no-repeat;
}

table thead th.descending a {
    background: url(../img/admin/arrow-up.gif) right .4em no-repeat;
}

/* ORDERABLE TABLES */

table.orderable tbody tr td:hover {
    cursor: move;
}

table.orderable tbody tr td:first-child {
    padding-left: 14px;
    background-repeat: repeat-y;
}

table.orderable-initalized .order-cell, body>tr>td.order-cell {
    display: none;
}

/* FORM DEFAULTS */

form { 
    position:relative; 
}
form.other { /* for forms that need unaligned class */
    margin:0; 
    padding:0; 
    display:inline; 
} 
label { 
    width: 10em; 
    margin-right: .5em; 
    text-align:right; 
}
input.button { 
    position:absolute; 
    left:11.5em; 
}

label input{
    
}

fieldset { 
    border: 1px solid #333; 
    padding: 4px;
}
legend { 
    color: #999; 
    background: #333; 
    padding: 2px 6px; 
    font-weight:bold; 
    font-size: .9em; 
    margin-top: 1em; 
}

input { 
    font-size:.9em; 
    margin-bottom:1em; 
}

/* FORM BUTTONS */

button, input.button {
   color:#333;
   background-color:#e5e5e5;
   border:1px solid #ccc;
   -moz-border-radius:4px;
   border-radius:4px;
   margin: 15px;
   margin-left: 70px;
   }
   
button:hover, input.button:hover, button:focus, input.button:focus {
   color:#39F;
   background-color:#ccc;
   border:1px solid #39F;
   -moz-border-radius:4px;
   border-radius:4px;
   }
   
input, text, textfield, textarea, password {
   color:#333;
   background-color: #e5e5e5;
   border: 1px solid #ccc;
   }
 
input:focus, text:focus, textarea:focus, textfield:focus, password:focus, checkbox:focus {
	color:#333;
	background-color:#ccc;
	border: 1px solid #39F;
	}

/* MODULES */

.module {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/admin/default-bg.gif) top left repeat-x;
    color: white;
}

.module table {
    border-collapse: collapse;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red 5px .3em no-repeat;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select {
    border: 1px solid red;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

div.question_set {

}

/* BREADCRUMBS */

div.breadcrumbs {
    padding: 2px 8px 3px 8px;
    font-size: 11px;
    color: #999;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* ACTION ICONS */

.addlink {
    padding-left: 12px;
    background: url(../img/admin/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink {
    padding-left: 12px;
    background: url(../img/admin/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left: 12px;
    background: url(../img/admin/icon_deletelink.gif) 0 .25em no-repeat;
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

a.deletelink:hover {
    color: #993333;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}

#content {
    margin: 10px 15px;
}

#header {
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 18em;
    position: relative;
    margin-right: -19em;
}

#footer {
    clear: both;
    width:inherit;
	text-align: center;
	padding: 4px 0;
	background:#e9e9e9;
	font-size:.85em;
}

/* HEADER */

#header {
    background: #FFFFFF;
    color: #333333;
    overflow: hidden;
}

#menu {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0px 4px 0px;
  margin-top: 8px;
}

#header a:link, #header a:visited {
    color: #39F;
}

#header a:hover, #header a:active {
    color: #000;
}

#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: #f4f379;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    position: absolute;
    top: 186px;
    left: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: left;
}

#wrap {
	position: relative;
	width: 800px; /*Width of main container*/
	margin: 0 auto; /*Center container on page*/
	background:#f9f9f9; 
    padding-bottom: 6px;
    Margin-bottom: 10px;
	}