/* Map Style */

.olControlPanZoom {
    right: 50px;
    top: 60px;
}

body {
    font-size: 11px;
    font-family: verdana,arial,sans-serif;
    color: #555;
}

h1 h2 h3 h4 {
    color: #000;
}

h1 {
    font-size: 17px;
}

h2 {
    font-size: 15px;
    margin: 7px 0px 5px 0px;    
}

h3 {
    font-size: 13px;
    margin: 7px 0px 3px 0px;    
}

p {
    font-size: 12px;
    margin: 0px 0px 7px 0px;
}

p.top_instruct {
    font-size: 1.0em;
}

p.error_text {
    color: red;
}

p.error_text img {
    width: 20px;
    height: 20px;
}

p.x-panel-static{
    position: static;
}

.west-panel .x-panel-header {
    font-size: 12px;
}

.secondary-panel .x-panel-header{
    background: none;
    background-color: #EEEEEE;
    font-size: 0.8em;
    color: #444444;
    border: none;
}

.secondary-panel .x-panel-body{
    border: none;
}

.x-window-body .x-panel-body  {
    background: none;
}

.west-panel table.resource-list {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 8px;
    border: 1px solid #CCCCCC;
    rules: none;
    background: #EEEEEE;
    width: 270px;
}

.video-link {
    padding: 0px 5px 0px 0px;
    font-size: 10px;
}

.video-panel {
    margin: 3px 0px 0px 15px;
}

.video-img {
    vertical-align: middle;
}

.vab-img {
    vertical-align: bottom;
}

.example-img {
    margin: 5px 0px 5px 0px;
}

.west-panel h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

.action-panel-header {
    overflow: none;
    background-color: #E6F1FF;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: #000;   
    border: 1px solid #0066FF; 
}

.activity-text {
    font-style: italic;
    color: #0066FF;
}

.gwst-button-panel {
    overflow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

.gwst-padded-table{
    padding: 10px;
}

.marker-icon {
    background-image: url(/site-media/images/small_red_marker.png) ! important;
}

.poly-icon {
    background-image: url(/site-media/images/shape_square_red.png) !important;
}

.cancel-icon {
    background-image: url(/site-media/images/cancel.png) !important;
}

.olControlMousePosition {
    background-color: #DDD;
    color: #222222;
    font-size: 12px ! important;
    right: 0px ! important;
    filter:alpha(opacity=65);
    -moz-opacity:0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-left-button {
    float:right;
}

.zoom-image {
    margin: 5px 5px 0px 15px;
}

.marker-image {
    padding:5px 5px 0px 0px;  
    margin: 0px 15px;
}

.poly-image {  
    margin: 5px 10px 0px 10px;
}

.pennies-edit{
    background-image: url(/media/img/coins.png) ! important;
}

.pennies-zoom {
	background-image: url(/media/img/zoom.png) ! important;
}

.invalid-image {
   margin: 5px 10px 10px 10px;
}

.olControlScaleLine{
    right: 0px ! important;
    background-color: #DDD;
    filter:alpha(opacity=65);
    -moz-opacity:0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: auto ! important;
    color: black;
}

.olControlScaleLineTop{
    right: 0px ! important;
}

.olControlScaleLineBottom{
    right: 0px ! important;
}
