/* grouping grid style for use with arrays */
.x-grid-group-hd{zoom:1;}
.x-grid-group-hd{border-bottom:2px solid #99bbe8;cursor:pointer;padding-top:4px;}
.x-grid-group-hd-remove{cursor:pointer;background:transparent url(../../media/images/silk/icons/cross.png) no-repeat 0px 0px;}
.x-grid-group-hd div{background:transparent url(../js/extjs/resources/images/default/grid/group-expand-sprite.gif) no-repeat 3px -47px;padding:4px 4px 4px 17px;color:#3764a0;font:bold 11px tahoma,arial,helvetica,sans-serif;}


/* Data layer menu, expanded row body style */
.x-grid3-row-body {
    padding: 4px;
} 

.x-grid3-row-body p {
    padding-bottom: 2px;
    padding-top: 2px;
    color: #666666;
}

.x-grid3-row-checker-on
{
    background-position: -23px 2px; 
    background-color:transparent;
    background-image:url(../js/extjs/resources/images/default/grid/row-check-sprite.gif);
    background-repeat:no-repeat;
    height:18px;
    width:100%;
}

.x-grid3-row-checker-off
{
    background-position: 2px 2px; 
    background-color:transparent;
    background-image:url(../js/extjs/resources/images/default/grid/row-check-sprite.gif);
    background-repeat:no-repeat;
    height:18px;
    width:100%;
}

/*#editmodetoolbar .x-toolbar {
    background:#D0DEF0 url(/site-media/images/modetoolbarbg.gif) repeat-x scroll left top;
}*/

#map .editmodetoolbar {
/*    border:dashed #FFCE8B 4px;*/
    border:solid #CEAE55 5px;
    background:#D0DEF0 url(/site-media/images/modetoolbarbg.gif) repeat-x scroll left top;
}

.remove-icon {
	background-image: url(/site-media/images/drop-no.gif) !important;
}

.yes-icon {
	background-image: url(/site-media/images/drop-yes.gif) !important;
}

.add-icon {
	background-image: url(/site-media/images/drop-add.gif) !important;
}

.add-right {
	background-image: url(/site-media/images/silk/icons/arrow_right.png) !important;
}

.remove-left {
	background-image: url(/site-media/images/silk/icons/arrow_left.png) !important;
}

.save {
	background-image: url(/site-media/images/silk/icons/arrow_left.png) !important;
}

.new-help {
	background-image: url(/site-media/images/silk/icons/new.png) !important;
}

/*.cancel {
    background-image: url(/site-media/images/silk/icons/arrow_left.png) !important;
}*/

/*.edit {
    background-image: url(/site-media/images/silk/icons/application_edit.png) !important;
}*/

.editGeo {
	background-image: url(/site-media/images/silk/icons/world_edit.png) !important;
}

/*.kml {
    background-image: url(/site-media/images/silk/icons/page_world.png) !important;
}*/

.zmax {
  z-index: 20001;
}

.ext-el-mask {
    z-index: 10000;
}
/*
div#map {
    cursor: move;
}*/


#maptoolbar {
    border-bottom:1px solid #42515E;   
}

#maptoolbar .x-btn button {
    font-size: 13px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

#maptoolbar .ytb-text {
    font-size: 13px;
}

span.mmlogo {
    position:absolute;
    top:2px;
    height:50px;
    background-image:url(/site-media/images/globe.gif) !important;
    background-repeat:no-repeat;
    background-position:0 0;

}
/*
span.mmlogo img {
  z-index:10;
}*/

span.mmlogotext {
    font-size:1em;
    padding-left:40px;
}

span.map {
    font-size:1em;
}

span.mmlogotext a {
    color: black;
}

img.dkey {
    margin-bottom:-10px;
}

#mpaPopup {
/*  height: 300px;*/
  background-color:none;
  background-image:url(/site-media/images/popupBg.gif) !important;
  background-repeat:repeat-x;
/*  background-position:bottom;*/
  background-position: 0% 70%;
  border: solid 1px #ACAFA1 !important;
  overflow:hidden;
  position:relative;
}

#mpaPopup h3 {
  padding: 0 0;
  margin: 0 0 0 0;
  padding-bottom: 0.4em;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-size:0.8em;
  border-bottom: solid #BABABA 1px;
}
/*
#mpaPopup hr {
  color:#A3A3A3;
  background-color:#A3A3A3;
  padding: 0 0;
  margin: 2px 0 2px 0;
}*/

#popupToolbarSpace {
  width:100%;
  height: 1.6em;
/*  margin-top: 0.5em;*/
}

#mpaPopup p {
  width:100%;
  font-size: 0.8em;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

#mpaPopup p.creator {
  margin-top:0.2em;
}

/*
#mpaPopup_GroupDiv {
  background-color:none;
  display:none;
}
*/
#mpaPopup .olPopupContent{
    padding: 5px 0px 0px 5px !important;
/*  padding:0 0 !important;*/
}

#popupTbar {
  position:relative;
  top: -23px;
}

img.popupbuttonimage {
  margin-right:4px;
  margin-bottom:-4px;
}

.pan-icon {
    background-image: url(/site-media/images/silk/icons/cursor.png) !important;
}

.zoom-icon {
    background-image: url(/site-media/images/silk/icons/zoom_in.png) !important;
}

.identify-icon {
    background-image: url(/site-media/images/silk/icons/information.png) !important;
}

/* Ruler Icons from http://www.pinvoke.com/ */
.chart-line-icon {
    background-image: url(/site-media/images/ruler.png) !important;
}

.chart-bar-icon {
    background-image: url(/site-media/images/ruler_square.png) !important;
}

.attributes {
    background-image: url(/site-media/images/silk/icons/application_view_list.png) !important;
}

.select-array {
    background-image: url(/site-media/images/silk/icons/cursor.png) !important;
}

.add-mpas-to-map {
    background-image: url(/site-media/images/silk/icons/monitor_add.png) !important;
}

.remove-mpas-from-map {
    background-image: url(/site-media/images/silk/icons/monitor_delete.png) !important;
}


div.olControlMousePosition {
    top: 5px;
    padding: 3px 4px 4px;
    height: 1em;
    background-image:url(/site-media/js/extjs/resources/images/default/window/top-bottom.png);
}

a.closePopup {
    right:3px;
    top:3px;
    position:absolute;
}

#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
    filter:alpha(opacity=40);
    -moz-opacity:.40;
    opacity:.60;    
}

#loading{
    position:absolute;
    left:25%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}

#loading img {
    margin-bottom:5px;
}

#loading .loading-indicator{
    #background:white;
    color:#555;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    text-align:center;
    height:auto;
    border:1px solid #ccc;
    background: white;    
}

#loading .loading-indicators{
    color:#555;
    font:bold 16px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    text-align:center;
    height:auto;    
}

#loading-msg {
    font: normal 10px arial,tahoma,sans-serif;
}


#ReportsViewer {
    padding:0 0 0 0;
    margin:0 0 0 0;
    position:absolute;
    bottom:-320px;
    width:100%;
    z-index:2000;
    background:#D0DEF0;
}

#ReportsViewer div {
    padding:0 0 0 0;
    margin:0 0 0 0;
}

#ReportsViewer .header {
    height:3em;
    background: #D0DEF0 url(/site-media/js/extjs/resources/css/../images/default/toolbar/bg.gif) repeat-x scroll left top;
    border-bottom:1px solid #90A6CD;
}


.inactive .header h2, .inactive .header ul {
    display:none;
}

#ReportsViewer .header h2 {
    float:left;
}

.array-mpa-count {
    font-style: italic;
    color:grey;
}

/*.header h2, .header ul, .header ul li {
    float:left;
}

.header ul li {
    padding:1em;
}

.header ul li.disabled {
    display:none;
}

.header ul li.selected {
    text-decoration:underline;
    color:#162B63;
}*/

/*.header ul li.selecting {
    background:#ddd073 url(/site-media/images/tb-bg-selected.gif) repeat-x;
    padding:0.9em;
    border-top:1px solid white;
    border-bottom:solid 1px blue;
}
*/
.header .parent {
    background:transparent url(/site-media/images/breadcrumb.png) no-repeat center right;
    padding-right:2em;
}

#ReportsViewer h2 {
    padding:1em;
}

#ReportsViewer h2 img {
    margin-right:1em;
    margin-bottom:-3px;
}

#reports_content {
    height:320px;
    text-align:center;
}

#ReportsViewer .flashWarning {
    text-align:left;
    width: 30em;
    padding:2em;
    font-size:0.8em;
    background-color:white;
    border:solid 1px #7E9DB6;
    border-top:none;
    margin-left:auto;
    margin-right:auto;
/*    margin-top:3em;*/
}


/*.wrap3 {
    border:solid black 2px;
}
*//*.wrap0 {
  float:left;
  background:url(/site-media/images/dropshadow/shadow.png) right bottom no-repeat;
}
.wrap1 {
  background:url(/site-media/images/dropshadow/shadow180.png) no-repeat;
}
.wrap2 {
  background:url(/site-media/images/dropshadow/corner_bl.png) -30px 100% no-repeat;
}
.wrap3 {
  padding:30px 30px 30px 30px;
  background:url(/site-media/images/dropshadow/corner_tr.png) 100% -30px no-repeat;
}*/


/* ------- MPA Attributes Styling -----------*/

ul.mpa-tools li {
    margin-top:1em;
}

#gwst-htmlmodal ul.mpa-tools li {
    margin-top:0em;
}

#gwst-htmlmodal ul.mpa-metadata li {
    float:right;
}

#gwst-htmlmodal ul.mpa-metadata li.creator {
    float:left;
}

#gwst-htmlmodal ul.mpa-metadata li.modification_date {
    clear:right;
}

ul.mpa-metadata {
    margin:0 0 0 0.5em;
}

ul.mpa-metadata li {
    margin:0 0 0.5em;
}

#gwst-htmlmodal ul.mpa-metadata {
    padding:0.5em 0.5em;
    margin:0 0;
}

#gwst-htmlmodal ul.mpa-metadata li {
    margin:0 0 0.5em 0;
    font-size:0.8em;
}

#gwst-htmlmodal h1 .array_subtitle {
    font-size:0.7em;
    margin-left:1px;
}

.gwst-typography {
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size:0.8em;
}

div.section {
    padding:0 1em;
    padding-bottom:1em;
}

div.section h2 {
    margin-left:-0.5em;
    color:#303A44;
    font-size:1.2em;
    margin-bottom:1em;
}

div.section h2 img {
    margin-bottom:-9px;
    margin-right:10px;
}

table.designation {
    margin-bottom:1em;
}

table.allowed_uses {
    font-size:0.9em;
    width:95%;
    background-color:white;
    border-collapse:collapse;
    border:solid #D7D7D7 1px;
/*    -moz-border-radius: 10px;*/
/*    -webkit-border-radius: 10px;*/
    padding:0 0;
    margin:1em auto;
/*    margin: 1em 1em 1em 1em;*/
}

table.allowed_uses thead th {
    margin:0 0 0 0;
    padding:6px 8px;
    border-bottom:solid 1px #D7D7D7;
}

table.allowed_uses thead th.title {
    border-bottom:none;
    text-align:center;
    padding:0.25em 0;
    font-weight:bold;
    font-size:1.2em;
}

table.allowed_uses tbody tr:hover{
    color:#1F3D6D;
}



table.allowed_uses td {
    padding:6px 8px;
/*    margin:0 5px;*/
/*    border:solid 1px grey;*/
}

th {
    padding:6px 8px;
    border:none;
    padding:0 0;
    margin:0 0 0 0;
}

thead {
    margin:0 0 0 0;
    font-size:1em;
    color:#0C254E;
}

p.lop {
    margin:1em 0;
}

p.lop strong {
/*    font-size:1.2em;*/
    font-weight:bold;
    text-decoration:underline;
}

em {
    font-style:italic;
    font-weight:bold;
}

option:disabled {
    color:#C3C3C3;
}

.selected-array {
    background-color:#DFE8F6;
}

.x-grid-group-hd {
    padding-left:5px;
    font-size:1.2em;
    background-color:#EBF1FA;
    padding:5px;
}

.x-grid-group-hd span.number {
    color:#5D5D5D;
}

.x-grid-group{
    margin-bottom:1em;
}

.x-grid3-dirty-cell {
    background:none !important;
}

span.array_pk {
    display:none;
}

.shared_array {
    margin-bottom:-1px;
    margin-left:-2px;
    padding-right:3px;
}

.proposed_array {
    margin-bottom:-1px;
    margin-left:-2px;
    padding-right:3px;
}

.shared_mpa {
    margin-bottom:-3px;
    margin-left:-9px;
}

/*#mpagrid .x-grid3-cell-inner, #mpagrid .x-grid3-hd-inner {
    overflow:visible;
}*/



/************************* Splash screen help windows ********************************/

#help_panel a:link, a:visited {
    text-decoration:none;
    color: #5b80b2;
}
#help_panel a:hover {
    text-decoration:none;
    color: #036;
}
#help_panel ul {
    list-style-position:inside;
    margin-top:10px;
    margin-bottom:15px;
}
#help_panel li {
    margin-top:5px;
    margin-bottom:5px;
    list-style-type: circle;
    font-size: 13px;
}
#help_panel p {
    margin-top:5px;
    margin-bottom:10px;
}
#help_panel {
    font-size: 13px;
}