/* Map Style */

.olControlPanZoomBar {
	right: 50px !important;
	top: 60px !important;
}

body {
	font-size: 12px;
	font-family: verdana,arial,sans-serif;
}

p {
	font-size: 12px;
}

p.top_instruct {
	font-size: 1.0em;
}

p.error_text {
    color: red;
}

p.error_text img {
    width: 20px;
    height: 20px;
}

p.x-panel-static{
    position: static;
}

.west-panel .x-panel-header {
	font-size: 12px;
}

.secondary-panel .x-panel-header{
    background: none;
    background-color: #EEEEEE;
    font-size: 0.8em;
    color: #444444;
    border: none;
}

.secondary-panel .x-panel-body{
    border: none;
}

.x-window-body .x-panel-body  {
    background: none;
}

.west-panel p {
    margin-bottom: 8px;
    margin-top: 5px;
}

.west-panel table.resource-list {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 8px;
    border: 1px solid #CCCCCC;
    rules: none;
    background: #EEEEEE;
    width: 270px;
}

.video-link {
    font-size: 0.8em;
    margin-top: 3px !important;
    margin-bottom: 5px !important;
}

.video-img {
    vertical-align: middle;
}

.west-panel h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

.action-panel-header {
    overflow: none;
    background-color: #d0e6f0;
}

.gwst-button-panel {
    overflow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

.gwst-padded-table{
    padding: 10px;
}

.quit-main{
    background-image: url(/site-media/images/house.png) !important;
}

.begin-draw {
	background-image: url(/site-media/images/pencil_go.png) !important;
}

.cancel-draw {
	background-image: url(/site-media/images/cancel.png) !important;
}

.redo-draw {
	background-image: url(/site-media/images/arrow_redo.png) !important;
}

.shape-delete {
	background-image: url(/site-media/images/cross.png) ! important;
}

.shape-zoom {
	background-image: url(/site-media/images/zoom.png) ! important;
}

.shape-zoom-all {
    background-image: url(/site-media/images/world.png) ! important;
}

.pennies-edit{
    background-image: url(/site-media/images/coins.png) ! important;
}

.pennies-zoom {
	background-image: url(/site-media/images/zoom.png) ! important;
}

.invalid-image {
    padding-left: 40px;
    padding-top: 15px;
}

.olControlMousePosition {
    background-color: #EEEEEE;
    color: #222222;
    font-size: 12px ! important;
    right: 0px ! important;
    filter:alpha(opacity=55);
	-moz-opacity:0.55;
	-khtml-opacity: 0.55;
	opacity: 0.55;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-left-button {
    float:right;
}

.x-btn-center {
    padding: 0 2px;
}

.x-form-cb-label {
    display: block;
    padding-left: 15px;
    text-indent: 0;
}

.x-form-check-wrap input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 6px 0 0 0;
    vertical-align: bottom;
    position: absolute;
    top: -1px;
    *overflow: hidden;
}

.x-form{
    border: none;
    margin: 3px 0 10px 6px;
}
