{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/login.css" />{% endblock %}

{% block title %}{{ title }} | {% trans 'SCAC Commercial & Charter' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'SCAC Commercial & Charter' %}</h1>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">

{% for admin in admin_logins %}
    
    <p><a href="/accounts/login_as/{{admin.id}}">Login as {{admin.first_name}}</a> ( {{admin.email}} )</p>

{% endfor %}
<h2>Create an account:</h2>
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">{% trans 'username:' %}</label><input type="text" name="username" style="width: 150px; float: left" id="id_username" /> 
  </div>
  <div class="form-row">
    <label for="email">{% trans 'email:' %}</label><input type="text" size="50px" name="email" style="width: 150px; float: left" id="email" />
  </div>
  
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
