{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Survey Management' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Survey management' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}
<div id="content-main">
		
		<div class="module">
        <table>
        <caption>{% trans 'Survey tools' %}</caption>
		<tr>
			<th><a href="/management/start_new_survey/">{% trans 'Start a survey' %}</a></th>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th><a href="/admin/utils/port_surveys/">{% trans 'Export/Import surveys' %}</a></th>
			<td>&nbsp;</td>
		</tr>
        <tr>
			<th><a href="logout/">{% trans 'Logout' %}</a></th>
			<td>&nbsp;</td>
		</tr>
        </table>
        </div>

        <table class="module">
        <caption>{% trans 'Survey management' %}</caption>
            <tr>
                <th>Created</th>
                <th>Interviewer</th>
                <th>Assignment</th>
                <th>Completed</th>
                <th>Continue</a></th>
                <th>Delete</a></th>
            </tr>
            {% for survey in survey_list %}
            <tr>
                <td>{{ survey.status.creation_date }}</td>
                <td>{{ survey.profile.created_by.first_name }} ({{survey.profile.created_by.email}})</td>
                <td>{{ survey.profile.assignment_no }}</td>
                <td>{{ survey.status.completed }}</td>
                <td><a href="/accounts/login_as/?next_user={{ survey.profile.user.id }}">Continue survey</a></td>
                <td><a href="/admin/auth/user/{{ survey.profile.user.id }}/delete/">Delete survey</a></td>
            </tr>
            {% endfor %}
        </table>


</div>
{% endblock %}

