<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Panel</title>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}third-party/extjs2/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}third-party/ext-ux/multiselect/MultiSelect.css"/>

<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/ext-all-debug.js"></script>
<!--<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/ext-all-debug.js"></script>-->

<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=XXXX'></script>
<script src="{{MEDIA_URL}}third-party/OpenLayers-2.11/OpenLayers.js"></script>
<script src="{{MEDIA_URL}}third-party/GeoExt-1.0/widgets/MapPanel.js"></script>
<script src="{{MEDIA_URL}}third-party/GeoExt-1.0/data/LayerRecord.js"></script>
<script src="{{MEDIA_URL}}third-party/GeoExt-1.0/data/LayerReader.js"></script>
<script src="{{MEDIA_URL}}third-party/GeoExt-1.0/data/LayerStore.js"></script>

<script type="text/javascript" src="{{MEDIA_URL}}third-party/ext-ux/multiselect/MultiSelect.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}third-party/ext-ux/multiselect/DDView.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/ResDrawApp.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widgets/ResDrawMapPanel.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widgets/WestPanel.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widgets/SelResPanel.js"></script>

<script type="text/javascript">
/**
 * Copyright (c) 2008-2009 The Open Source Geospatial Foundation
 * 
 * Published under the BSD license.
 * See http://svn.geoext.org/core/trunk/geoext/license.txt for the full text
 * of the license.
 */

/** api: example[mappanel-viewport]
 *  Map Panel (in a Viewport)
 *  -------------------------
 *  Render a map panel in a viewport.
 */

Ext.onReady(function() {
	app = new gwst.ResDrawApp();
    new Ext.Viewport({
        layout: "border",
        items: [{
            region: "center",
            id: "mappanel",
			border: false,
            xtype: "gwst-res-draw-map-panel",
            split: true
        }, {
        	xtype: 'gwst-sel-res-panel',
            region: "west",
            res_group_name: 'Species',
            split: true
        }]
    });

});

</script>
</head>
<body>
</body>
</html>
