<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Penny_Panel</title>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}third-party/extjs2/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/res_draw.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}third-party/extjs2/ext-all-debug.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widgets/WestPanel.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widgets/PennyPanel.js"></script>
<script type="text/javascript">
Ext.onReady(function() {
	var resource = 'salmon';
	var cur_num = 4;
	var total_num = 5;
	var pennies_remaining = 45;
	var p = new gwst.widgets.PennyPanel({
        renderTo: 'panel-basic',  
		resource: resource,
		cur_num: cur_num,
		total_num: total_num,
		pennies_remaining: pennies_remaining
    });
});
</script>
</head>

<body>
<div id="panel-basic" class="container"/>
</body>
</html>
