/* Map Style */

.olControlPanZoom {
	right: 60px;
	top: 150px;
}

body {
	font-size: 0.9em;
	font-family: verdana,arial,sans-serif;
}

p {
	font-size: 0.9em;
}

p.top_instruct {
	font-size: 1.0em;
}

p.error_text {
    color: red;
}

.west-panel .x-panel-header {
	font-size: 17px;
}

.action-panel-header {
    overflow: none;
    background-color: #d0e6f0;
}

.west-panel .x-panel-body {
    overflow: auto;
}

.gwst-button-panel {
    overflow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

.begin-draw {
	background-image: url(/site-media/images/pencil_go.png) !important;
}

.cancel-draw {
	background-image: url(/site-media/images/cancel.png) !important;
}

.redo-draw {
	background-image: url(/site-media/images/arrow_redo.png) !important;
}

.shape-delete {
	background-image: url(/site-media/images/cross.png) ! important;
}

.shape-zoom {
	background-image: url(/site-media/images/zoom.png) ! important;
}

.pennies-edit{
    background-image: url(/site-media/images/coins.png) ! important;
}

.pennies-zoom {
	background-image: url(/site-media/images/zoom.png) ! important;
}