// reset
a
{
  outline: none;
}
div.formBg {
    background:#CDDBED url(/site-media/images/gwst-ui/wait_bg.png) top repeat-x;
    width:650px;
    margin:0 0 0 0;
    margin-left:auto;
    margin-right:auto;
    padding:0 0 0 0;
    overflow:hidden;
}

div.formBg p {
    margin:1em 0 1em 0;
}

div.formBg input, div.formBg select {
    margin:0 0 1em 0;
}

div.formBg li li {
    margin:1em;
}

div.formBg li input {
    margin:0 0 0 0;
}

div.formBg li ul {
    margin-left:2em;
}

div.formBg h2 img{
    margin-right:0.5em;
    margin-bottom:-9px;
}

div.formBg div.formpane h2 {
    display:none;
}

div.formBg h2 {
    padding:0 0 0 0;
    margin: 0 0 0.6em 0;
}

#goals-list h4 {
    text-decoration: underline;
}

div.form_content {
    clear:both;
    width: 650px;
    margin-left:auto;
    margin-right:auto;
    padding:0 0 0 0;
    margin-bottom:0px;
    margin-top:0px;
    background-color:white;
    overflow:hidden;
    height:420px;
}

div.formBg form.mpa-form {
    width:3000px;
}

div.formpane {
    width: 630px;
    margin:0 0 4em 0;
    padding:10px;
/*    border-bottom:solid 1px #A3BECB;*/
    overflow-y:auto;
    overflow-x:hidden;
    position:relative;
}

div.form_panels {
    border-top:solid 1px #A3BECB;
}

/* Start top tab styling */
ul#form_shortcuts {
    display:none;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    width:31em;
}

ul#form_shortcuts h2 {
    font-size:1em;
    padding: 0 0 3px 0;
}

div.formBg #form_shortcuts {
    display:block;
}


ul#form_shortcuts a {
    text-decoration:none;
    color:black;
}

ul#form_shortcuts a:hover h2{
    color:#2B2E7E;
}

ul#form_shortcuts li {
    float:left;
    padding:0.6em;
    padding-bottom:0px;
    margin:0 1em 0 0;
}

ul#form_shortcuts li.active {
    background:white url(/site-media/images/gwst-ui/tabbg.png) top repeat-x;
    border-right:1px solid #CDDCEF;
    border-left:1px solid #CDDCEF;
    border-bottom:1px solid white;
    margin-bottom:-1px;
    z-index:10;
    position:relative;
}

ul#form_shortcuts a img {
    border:none;
}

/* End top tab styling */

div.formpane p.help_text {
    color:#484848;
}

ul.errorlist {
    background-color:#ECBDC3;
    color:red;
}

div.formBg div.formpane {
    overflow-y:none;
    height: 400px;
    float:left;
}

ul#goals-list {
    list-style:none;
    padding:0 0 0 0;
    margin: 0 0 0 1em;
}

ul#goals-list li {
    margin-bottom:1em;
}

ul#goals-list ul {
    margin-top:10px;
    list-style:none;
    color:#33333E;
}

ul#goals-list ul li{
    margin-left:0px;
    margin-bottom:0.5em;
    text-indent:0em;
}

ul#goals-list ul li input {
    margin-left:-2em;
}

ul#goals-list h4 {
    font-size:1em;
    margin-bottom:0.3em;
}

div.formpane textarea {
    width:96%;
    margin-bottom:1em;
}

input#id_name{
    font-size:1.5em;
}

div#form_footer {
    background: #DCE9F9 url(/site-media/images/drop_shadow.png) repeat-x top;
    border-top:solid 1px #A3BECB;
}

div#form_footer a img {
    border:none;
}

a.navbutton {
    margin:0.5em 0 0.2em 0;
    text-decoration:none;
    color:black;
    display:block;
}

a.navbutton span.navinfo {
    position:relative;
    top:-16px;
}

a#backward {
    float:left;
    margin-left:10px;
}
p#backward_text {
    float:left;
    width:20em;
}

p#forward_text {
    float:right;
}



a#forward {
    float:right;
    margin-right:10px;
}

/*#jquery_submit {
    float:right;
    margin:1em 1.5em 0.5em 0.5em;
    font-size:1.3em;
    -webkit-focus-ring-color: blue;
}
*/
p.errors {
    background-color:#ECBDC3;
    color:red;
    margin:0 0 1px 0 !important;
    padding:0;
}


/* Form styling */
span.required-asterisk {
    color:red;
}

label {
    margin-bottom:0.5em;
    display:block;
    font-weight:bold;
}

ul.goal_objectives {
    margin-left:1em;
}

ul.goal_objectives h4 {
    text-decoration:underline;
    font-weight:bold;
    margin-top:0.5em;
}

ul.goal_objectives ul {
    margin-left:1em;
    margin-top:0em;
}

ul.goal_objectives ul li label {
    margin-bottom:0.25em;
}

ul.goal_objectives ul li p {
    margin-top:0.25em;
}

ul.goal_objectives ul li {
    margin:0.5em 0;
/*    margin-bottom:0.5em;*/
}


div.formBg p.helptext {
    margin-top:0px;
}

/*#allowed_uses_widget {
    position: absolute; 
    top: 13em;
}*/

#allowed_uses_widget select.choose {
    margin:0 0;
}

#allowed_uses_widget table {
    border-collapse:collapse;
}

#allowed_uses_widget tr.add {
    background-color:#E2E8F2;
/*    border:1px solid black;*/
}

p#designation_purposes_warning{
    margin:0 1em;
    font-size:1em;
    background-color:#D5E0ED;    
}